[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytimeparse = "*"
click = "*"
python-dateutil = "*"
openshift = "*"
kubernetes = "*"
thoth-common = "*"
prometheus-client = "<0.7.0"

[dev-packages]

[requires]
python_version = "3.6"
